@import "tailwindcss";
@import "@fontsource-variable/noto-sans-sc";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-family: "Noto Sans SC Variable", sans-serif;
}

:root {
  --color-primary: #0064d6;
  --color-primary-700: #004da5;
  --color-primary-300: #2d8fff;
  --color-secondary-green: #4cd792;
}

@theme {
  --color-primary: #0064d6;
  --color-primary-700: #004da5;
  --color-primary-300: #2d8fff;
  --color-secondary-green: #4cd792;
}

.tightLetters {
  letter-spacing: -1.5%;
}

.xlTightLetters {
  letter-spacing: -2px;
}

#heroSection {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #4cd792 47.53%,
    #0064d6 95.06%
  );
}
